body {
  overflow-x: hidden;
  margin: 0;
  background: #f2f0ea;
  padding: 0;
}
* {
  /* border: 1px solid red; */
  font-family: "Source Sans Pro", sans-serif;
}
.product_container_main {
  padding-bottom: 20px;
  margin: 0 auto;
  width: 95%;
  height: auto;
  margin-top: 20px;
  display: flex;
}
@media screen and (max-width: 768px){
  .product_container_main {
      flex-flow: column;
  }
  .product_filter_container {
    display: none;
  }
  .product_filter_container_mobile{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 98%;
    margin: 0 auto;
  }
  .product_filter_container_mobile img {
    width: 20px;
    padding-right: 5px;
  }
  .style_container {
    align-items: flex-start;
    flex-flow: column;
  }
  .filter_container,
  .recommended_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 49.6%;
    background-color: white;
  }
  .list_amount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mobile_absolute_filter {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background: #f2f0ea;
  }
  .price_filter,
  .style_filter {
    padding: 1.125rem 0.75rem;
    background: white;
    margin: 0.45rem;
  }
  .price_field {
    width: 41px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .price_button {
    background-color: rgb(111, 111, 111);
    color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    padding: 2px 10px;
    font-size: 16px;
  }
  .style_filter {
    margin-top: 10px;
  }
  .price_container,
  .style_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    margin: 0.45rem;
  }
  .filter_title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .mobile_relative_filter {
    position: relative;
  }
  .close_mobile {
    margin: 0.45rem;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .close_mobile_button {
    transform: translateX(90px);
  }
  .filter_mobile {
    font-weight: bolder;
    }
}
@media screen and (min-width: 768px) {
  .product_filter_container_mobile,
  .list_amount {
    display: none;
  }
  .style_filter {
    margin-top: 10px;
  }
  .price_filter,
  .style_filter {
    padding: 1.125rem 0.75rem;
    background: white;
  }
  .price_field {
    width: 41px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .price_button {
    background-color: rgb(111, 111, 111);
    color: rgb(255, 255, 255);
    border: 1px solid lightgrey;
    padding: 2px 10px;
    font-size: 16px;
  }
  
  .price_container,
  .style_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background: white;
    border-top: 0.1px solid grey;
  }
  .style_container {
    flex-flow: column;
    align-items: flex-start;
  }
  .filter_title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .price_filter_container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .price_filter_container img {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.product_filter_container {
  flex: 1.3;
  margin: 1rem;
}
.product_container {
  padding-bottom: 20px;
  flex: 3.3;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
img {
  width: 50px;
}

